body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
}

.switch-container{
    width:20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-cover{
    background-color: gray;
    height: 120px;
    width: 80px;
    box-shadow: 0px 0px 5px darkgray;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.screw{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: darkgray
}

.switch{
    width: 50%;
    height: 50%;
    background: linear-gradient(darkgray,gray);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 5px solid darkgray ;
}

.on{
    background: linear-gradient(gray, darkgray);
    border-top: 5px solid darkgray;
    border-bottom: 1px solid black;
}

.bulb-container{
    height: 100vh;
    width: 40%;
}

.wire{
    height: 200px;
    width: 10px;
    background: gray;
    margin: 0 auto;
}

.wire-connection{
    width: 15px;
    height: 15px;
    background:dimgray;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top:-3px;
}

.socket-top{
    height: 20px;
    width: 50px;
    background-color: gray;
    margin: 0 auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -5px;
    border-bottom: 1px solid black;
}

.socket-bottom{
    width: 50px;
    height: 30px;
    background-color: gray;
    margin: 0 auto;
}

.socket-back{
    width: 50px;
    height: 20px;
    background: gray;
    margin: 0 auto;
    opacity: 0.5;
    border-radius: 50%;
    margin-top: -10px;
}

.bulb-top{
    height: 30px;
    width: 46px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bulb-bottom{
    height: 80px;
    width: 80px;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -10px;
}

.bulb_on{
    background-color: lightyellow;
    box-shadow: 0px 10px 100px 10px lightyellow;
}